.quizContainer{
  position: absolute;
  height:100%;
  width:100%;
  background:white;
  z-index: 2;
  padding:100px;
  opacity: 1;
  transition:opacity 0.25s ease-in-out;
}
.quizFade{
  opacity: 0;
}

.quizlet{
  text-align: center;
  p{
    cursor:pointer;
    transition:color 0.25s ease-in-out;
    &:hover{
      color:red;
    }
  }
}